<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (keydown.enter)="getHistoricoFactura()"
                                placeholder="Ingresa factura..." autofocus [(ngModel)]="num_fac"
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [showIcon]="true"[showButtonBar]="true"appendTo="body"
                        placeholder="Selecciona un rango" [readonlyInput]="true" (onClose)="getHistoricoFecha()"(onClearClick)="limpiar()">
                    </p-calendar>
                </ng-template>
            </p-toolbar>



            <p-table #dt [value]="datosDB" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['id','type','store_name','byUser_name','fecha']" [rows]="10" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate=" {first} - {last} de {totalRecords} registros" selectionMode="multiple"
                [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span *ngIf="datosDB.length>0" class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">Factura <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="type">Tipo <p-sortIcon field="type"></p-sortIcon></th>
                        <th pSortableColumn="store_name">Almacén <p-sortIcon field="store_name"></p-sortIcon></th>
                        <th pSortableColumn="byUser_name">Facturó <p-sortIcon field="byUser_name"></p-sortIcon></th>
                        <th pSortableColumn="fecha">Fecha <p-sortIcon field="fecha"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{item.id | number: '3.0-0'}}</td>
                        <td>{{item.type }}</td>
                        <td>{{item.store_name }}</td>
                        <td>{{item.byUser_name }}</td>
                        <td>{{item.created_at | date: 'dd MMM yyyy - HH:mm' }}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-eye" pTooltip="Ver detalle" tooltipPosition="top"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="verFacturaModal(item)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
    </div>
</div>


<p-dialog [(visible)]="ver_factura_dialog" [style]="{ width: '650px' }" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
       
        <div class="grid">
            <div class="col-12">
                <div class="card widget-support-request">
                    <div class="grid grid-nogutter">
                        <div class="col-6 title">
                            <h5>{{user.user.store_name}}</h5>
                        </div>
                        <div class="col-6 support-info">
                            <p>📅 {{item.created_at | date: 'dd MMM yyyy'}} <br>
                                ⏰ {{item.created_at | date: 'HH:mm'}}</p>
                            <span class="highlighted">Recibo N° {{item.id | number: '3.0-0'}}</span>
                        </div>
                    </div>
                    <div class="card widget-tasks">
                        <ul class="checkboxes">
                            <li class="checkbox-row">
                                <div class="grid">
                                    <div class="col-4 md:col-2 checkbox">
                                        <p>Código</p>
                                    </div>
                                    <div class="col-4 md:col-6 checkbox">
                                        <p>Descripción</p>
                                    </div>
                                    <div class="col-2 checkbox">
                                        <span > Cantidad</span>
                                    </div>
                                    <div class="col-2 checkbox">
                                        <span class="mr-5">Precio</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul *ngFor=" let produc of item.details" class="checkboxes">
                            <li class="checkbox-row">
                                <div class="grid">
                                    <div class="col-4 md:col-2 checkbox">
                                        <p>{{produc.code}}</p>
                                    </div>
                                    <div class="col-4 md:col-6 checkbox">
                                        <p>{{produc.product_name}}</p>
                                    </div>
                                    <div class="col-2 checkbox">
                                        <span>1</span>
                                    </div>
                                    <div class="col-2 checkbox-row-info">
                                        <span class="time">${{produc.subtotal | number}}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="resolution-button-bar">
                        <button type="button" (click)="pdf()" label="Imprimir" icon="pi pi-star" pButton></button>
                        <button type="button" label="${{item.total | number}}" pButton
                            class="p-button-secondary p-button-text"></button>
                    </div>
                </div>
            </div>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="ver_factura_dialog = false"></button>
        <!-- <button pButton pRipple label="Reimprimir" icon="pi pi-check"
                    class="p-button-text" (click)="imprimir()"></button> -->
    </ng-template>
</p-dialog>