
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Salida inventario" icon="pi pi-minus" class="p-button-primary mr-2"
                            (click)="abrirModal('Salida')"></button>
                        <button pButton pRipple label="Entrada inventario" icon="pi pi-plus" class="p-button-help "
                            (click)="abrirModal('Entrada')"></button>
                        <!-- <button pButton pRipple label=" Borrar" icon="pi pi-trash" class="p-button-danger"
                            (click)="alertSelectedItems()"
                            [disabled]="!selectedItems || !selectedItems.length"></button> -->
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-dropdown [options]="almacenes" styleClass="mr-2"  [showClear]="true" (onClear)="getAjustes()"(onChange)="getAjustes()"
                            [(ngModel)]="item.almacen_consultar" optionLabel="name" appendTo="body" placeholder="Almacén"[filter]="true" filterBy="name"
                            emptyMessage="No hay resultados">
                            <ng-template let-opcion pTemplate="item">
                                <span>{{ opcion.name }}</span>
                            </ng-template>
                        </p-dropdown>

                    <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [showIcon]="true" appendTo="body"[showButtonBar]="true"
                    placeholder="Selecciona un rango" [readonlyInput]="true" (onClose)="getAjustes()"(onClearClick)="limpiar()">
                </p-calendar>
                </ng-template>
            </p-toolbar>



            <p-table #dt [value]="datosDB" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['type_name','product_code','product_quantity','store_name','observation','byUser_name']"
                [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate=" {first} - {last} de {totalRecords} registros" selectionMode="multiple"
                [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Ajustes</h5>
                        <span *ngIf="datosDB.length > 0" class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="type_name">Ajuste <p-sortIcon field="type_name"></p-sortIcon></th>
                        <th pSortableColumn="product_code">Código <p-sortIcon field="product_code"></p-sortIcon></th>
                        <th pSortableColumn="product_quantity">Cantidad <p-sortIcon field="product_quantity"></p-sortIcon></th>
                        <th pSortableColumn="store_name">Almacén <p-sortIcon field="store_name"></p-sortIcon></th>
                        <th pSortableColumn="observation">Observación <p-sortIcon field="observation"></p-sortIcon></th>
                        <th pSortableColumn="byUser_name">Usuario <p-sortIcon field="byUser_name"></p-sortIcon></th>
                        <!-- <th></th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{item.type_name | titlecase}}</td>
                        <td>{{item.product_code}}</td>
                        <td>{{item.product_quantity}}</td>
                        <td>{{item.store_name | titlecase}}</td>
                        <td>{{item.observation | titlecase}}</td>
                        <td>{{item.byUser_name | titlecase}}</td>
                        <!-- <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" pTooltip="Actualizar" tooltipPosition="top"
                                    class="p-button-rounded p-button-success mr-2" (click)="openEdit(item)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                    pTooltip="Eliminar" tooltipPosition="top" (click)="deleteAlert(item)"></button>
                            </div>
                        </td> -->
                    </tr>
                </ng-template>

            </p-table>
        </div>  
    </div>
</div>








<p-dialog [(visible)]="ajustar_dialog" [style]="{ width: '450px' }"
            header="{{tipo_ajuste}} de inventario" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                    <div class="p-fluid p-formgrid grid">

                        <div class="field col-12 md:col-12">
                            <label>Almacén</label>
                            <p-dropdown [options]="almacenes" [(ngModel)]="item.almacen" optionLabel="name" appendTo="body"
                                placeholder="Seleccione" emptyMessage="No hay resultados"[filter]="true" filterBy="name"
                                [ngClass]="{ 'ng-invalid ng-dirty': submitted && !item.almacen }">
                            
                                <ng-template let-almacen pTemplate="item">
                                    <span>{{ almacen.name }}</span>
                                </ng-template>
                            </p-dropdown>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !item.almacen">Campo requerido.</small>
                        </div>
    
                        <div class="field col-12 md:col-6 xl:col-6">
                            <label>Código</label>
                            <input type="text" pInputText [(ngModel)]="item.code" [ngClass]="{ 'ng-invalid ng-dirty': submitted && !item.code }">
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !item.code">Campo requerido.</small>
                        </div>

                        <div class="field col-12 md:col-6 xl:col-6">
                            <label>Cantidad</label>
                            <p-inputNumber [(ngModel)]="item.cantidad" [ngClass]="{ 'ng-invalid ng-dirty': submitted && !item.cantidad }"></p-inputNumber>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !item.cantidad">Campo requerido.</small>
                        </div>
                        <div class="field col-12 ">
                            <label>Observación</label>
                            <textarea rows="3" cols="30" pInputTextarea [(ngModel)]="item.observacion"
                            [ngClass]="{'ng-invalid ng-dirty' : submitted &&  !item.observacion}"></textarea>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !item.observacion">Campo requerido.</small>
                        </div>
                    </div>
              
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="ajustar_dialog = false"></button>
                <button pButton pRipple label="Enviar" icon="pi pi-check"
                    class="p-button-text" (click)="ajustarInventario()"></button>
            </ng-template>
        </p-dialog>