<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <h5>Punto de venta</h5>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (keydown.enter)="leerProducto()"
                                placeholder="Ingresa código..." autofocus [(ngModel)]="item.codigo"
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">

                    <!--  <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [showIcon]="true"
                            placeholder="Selecciona un rango" [readonlyInput]="true"[showButtonBar]="true"
                            (onClose)="getEntradasRango()">
                        </p-calendar>
                    <button pButton pRipple label="Actualizar" icon="pi pi-refresh" class="p-button-primary ml-2"
                        (click)="getSalidas()"></button> -->
                </ng-template>
            </p-toolbar>
        </div>
    </div>




    <div *ngIf="datosDB.length>0" class="col-12 lg:col-6 md:col-6">
        <div class="card widget-store-items">
            <div class="store-cards-container">
                <div class="grid store-cards">
                    <div *ngFor=" let produc of datosDB" class="col-6 ">
                        <div class="store-card">
                            <div class="store-card-icons">
                                <div class="grid grid-nogutter">
                                    <div class="col-4">
                                        <i (click)="editar(produc)" class="pi pi-pencil"></i>
                                    </div>
                                    <div class="col-4">
                                        <i (click)="confirm($event,produc)" class="pi pi-trash"></i>
                                    </div>
                                </div>
                                <!-- <div class="store-card-image">
                                    <img src="assets/layout/images/dashboard/asset-image-seed.jpg" alt="mirage-layout" />
                                </div> -->
                            </div>
                            <div class="store-card-content">
                                <h5>{{produc.code}}</h5>
                                <span>{{produc.description}}</span><br>
                                <span>{{produc.product_name}}</span><br>
                                <span *ngIf="!produc.descuento">{{produc.price | number}}</span><br>
                                <span *ngIf="produc.descuento"><input pInputText type="number"
                                        (keydown.enter)="editar2(produc)" [(ngModel)]="produc.price"
                                        class="w-full sm:w-auto" /></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-effect"></div>
        </div>
    </div>
    <p-confirmPopup></p-confirmPopup>

    <div *ngIf="datosDB.length>0" class="col-12 lg:col-6 md:col-6">
        <div class="card widget-support-request">
            <div class="grid grid-nogutter">
                <div class="col-6 title">
                    <h5>{{user.user.store_name}}</h5>
                </div>
                <div class="col-6 support-info">
                    <p>📅 {{fecha}} <br>
                        ⏰ {{hora}}</p>
                    <!-- <span class="highlighted">Recibo N° {{facNumero | number: '3.0-0'}}</span> -->
                </div>
            </div>
            <div class="card widget-tasks">
                <ul class="checkboxes">
                    <li class="checkbox-row">
                        <div class="grid">
                            <div class="col-6 checkbox">
                                <p>Descripción</p>
                            </div>
                            <div class="col-3 checkbox">
                                <span> Cantidad</span>
                            </div>
                            <div class="col-3 checkbox-row-info">
                                <span>Precio</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul *ngFor=" let produc of datosDB" class="checkboxes">
                    <li class="checkbox-row">
                        <div class="grid">
                            <div class="col-7 checkbox">
                                <p>{{produc.description}}</p>
                            </div>
                            <div class="col-2 checkbox">
                                <span>1</span>
                            </div>
                            <div class="col-3 checkbox-row-info">
                                <span class="time">${{produc.price | number}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="resolution-button-bar">
                <button type="button" (click)="openFacturar()" label="Facturar" icon="pi pi-star" pButton></button>
                <button type="button" label="${{total | number}}" pButton
                    class="p-button-secondary p-button-text"></button>
            </div>
        </div>
    </div>
</div>



<p-dialog [(visible)]="facturarDialog" [style]="{ width: '450px' }" header="Valor a pagar $ {{total | number}}"
    [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">


        <p-fieldset styleClass="mb-5">
            <ng-template pTemplate="header">
                <div class="flex align-items-center text-primary">
                    <span class="pi pi-user mr-2"></span>
                    <span class="font-bold text-lg">Datos del cliente</span>
                </div>
            </ng-template>
            <div class="p-fluid p-formgrid grid">

                <div class="field col-12 ">
                    <label>Nombre</label>
                    <input type="text" pInputText [(ngModel)]="item.nombre_cliente">
                </div>
                <div class="field col-12 ">
                    <label>Cédula</label>
                    <input type="number" pInputText [(ngModel)]="item.cedula_cliente">
                </div>
                <div class="field col-12 ">
                    <label>Teléfono</label>
                    <input type="number" pInputText [(ngModel)]="item.telefono_cliente">
                </div>

            </div>
        </p-fieldset>

        <p-fieldset styleClass="mb-5">
            <ng-template pTemplate="header">
                <div class="flex align-items-center text-primary">
                    <span class="pi pi-dollar mr-2"></span>
                    <span class="font-bold text-lg">Datos del pago</span>
                </div>
            </ng-template>
            <div class="p-fluid p-formgrid grid">

                <div class="field col-12 md:col-12">
                    <label>Método de pago</label>
                    <p-dropdown [options]="metodos_pago" [(ngModel)]="metodo_pago" optionLabel="name" appendTo="body"
                        placeholder="Seleccione" emptyMessage="No hay resultados"
                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && !metodo_pago.id }">

                        <ng-template let-metodo pTemplate="item">
                            <span>{{ metodo.name }}</span>
                        </ng-template>
                    </p-dropdown>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !metodo_pago.id">Selecciona el metodo de
                        pago.</small>
                </div>

                <div [ngClass]="{'hidden':metodo_pago.name !='Crédito'}" class="field col-12 md:col-12">
                    <label>Empresa crédito</label>
                    <p-dropdown [options]="empresas_credito" [(ngModel)]="item.empresa_credito" optionLabel="name"
                        appendTo="body" placeholder="Seleccione" emptyMessage="No hay resultados"
                        [ngClass]="{'ng-invalid ng-dirty': submitted && !item.empresa_credito }">

                        <ng-template let-metodo pTemplate="item">
                            <span>{{ metodo.name }}</span>
                        </ng-template>
                    </p-dropdown>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !item.empresa_credito">Campo
                        requerido.</small>
                </div>

                <div [ngClass]="{'hidden':metodo_pago.name !='Saldo a favor'}" class="field col-12 md:col-12">
                    <label>Numero de bono</label>
                    <input type="number" pInputText [(ngModel)]="item.numero_bono" required
                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && !item.numero_bono}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !item.numero_bono">Campo requerido.</small>
                </div>

                <div *ngIf="metodo_pago.id == 1" class="field col-6 ">
                    <label>Efectivo</label>
                    <p-inputNumber prefix="$" [(ngModel)]="efectivo" (keydown.enter)="operacionDevuelta()">
                    </p-inputNumber>
                </div>

                <div *ngIf="metodo_pago.id == 1" class="field col-6 ">
                    <label>Cambio</label>
                    <p-inputNumber prefix="$" [(ngModel)]="cambio" [readonly]="true"> </p-inputNumber>
                </div>






                <form *ngIf="metodo_pago.id == 5" class="field col-12" [formGroup]="miFormulario">
                    <div formArrayName="otros">
                     <div  class="p-fluid p-formgrid grid">
                        <label  class="field col-5 m-0">Método</label>
                        <label  class="field col-5 m-0">Valor</label>
                     </div>
                        <div class="p-fluid p-formgrid grid" *ngFor="let fila of otrosFormArray.controls; let i=index"
                            [formGroupName]="i">
                            <div class="field col-5"> <input type="text" pInputText formControlName="metodo" required
                                [ngClass]="{ 'ng-invalid ng-dirty': submitted && miFormulario.invalid}" />
                                <small class="ng-dirty ng-invalid" *ngIf="submitted && miFormulario.invalid">Campo
                                    requerido.</small>
                            </div>
                            <div class="field col-5"><p-inputNumber prefix="$" formControlName="valor"
                                [ngClass]="{ 'ng-invalid ng-dirty': submitted && miFormulario.invalid}">
                                </p-inputNumber>
                                <small class="ng-dirty ng-invalid" *ngIf="submitted && miFormulario.invalid">Campo
                                    requerido.</small>
                            </div>
                            <!-- Agrega aquí más inputs si es necesario -->
                            <div  class="field col-2"><button pButton pRipple icon="pi pi-trash" pTooltip="Eliminar fila"
                                    tooltipPosition="top" [disabled]="i==0"
                                    class="p-button-rounded p-button-danger mr-2" (click)="eliminarFila(i)"></button>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12"><button pButton pRipple icon="pi pi-plus" pTooltip="Agregar valores"
                            tooltipPosition="top" class="p-button-rounded p-button-success mr-2"
                            (click)="agregarFila()"></button></div>
                </form>


                <div class="field col-12 md:col-6">
                    <label>Desea imprimir factura?</label>
                    <p-selectButton [options]="stateOptions" [(ngModel)]="value_impri_fac" optionLabel="label"
                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && !value_impri_fac }"
                        optionValue="value"></p-selectButton>
                    <!--  <small class="ng-dirty ng-invalid" *ngIf="submitted && !value_impri_fac">Selecciona una
                        opción.</small> -->
                </div>
            </div>
        </p-fieldset>



    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="facturarDialog = false"></button>
        <button pButton pRipple label="Facturar" icon="pi pi-check" class="p-button-text"
            (click)="enviarFactura()"></button>
    </ng-template>
</p-dialog>