<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-primary mr-2"
                            (click)="openNew()"></button>
                        <!-- <button pButton pRipple label=" Borrar" icon="pi pi-trash" class="p-button-danger"
                            (click)="alertSelectedItems()"
                            [disabled]="!selectedItems || !selectedItems.length"></button> -->
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Actualizar" icon="pi pi-refresh" class="p-button-primary"
                        (click)="getAlmacenes()"></button>
                </ng-template>
            </p-toolbar>



            <p-table #dt [value]="datosDB" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','admin_name','code']" [rows]="10" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate=" {first} - {last} de {totalRecords} registros" selectionMode="multiple"
                [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Almacenes</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="admin_name">Administrador <p-sortIcon field="admin_name"></p-sortIcon></th>
                        <th>Otros usuarios</th>
                        <th pSortableColumn="code">Código <p-sortIcon field="code"></p-sortIcon></th>

                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td style="min-width: 10rem;">{{item.name | titlecase}}</td>
                        <td>{{item.admin_name | titlecase}}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success mr-2"
                                    (click)="ingresarUsuarioAlert(item,1)"
                                    [disabled]="item.users_store.length == 0"></button>
                            </div>
                        </td>
                        <td>{{item.code }}</td>

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" pTooltip="Actualizar" tooltipPosition="top"
                                    class="p-button-rounded p-button-success mr-2" (click)="openEdit(item)"></button>
                                <button pButton pRipple icon="pi pi-percentage" pTooltip="Descuento"
                                    tooltipPosition="top" class="p-button-rounded p-button-help"
                                    (click)="openDescuento(item)"></button>
                                <button pButton pRipple icon="pi pi-check-square"
                                    class="p-button-rounded p-button-primary mx-2" pTooltip="Asignar usuarios"
                                    tooltipPosition="top" (click)="ingresarUsuarioAlert(item,2)"></button>
                                <button pButton pRipple icon="pi pi-trash" [disabled]="item.users_store.length == 0"
                                    class="p-button-rounded p-button-danger" pTooltip="Eliminar usuarios"
                                    tooltipPosition="top" (click)="ingresarUsuarioAlert(item,3)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>

        <p-dialog [(visible)]="itemEditDialog" [style]="{ width: '450px' }"
            header="{{ crear ? 'Nuevo almacen' : 'Actualizar almacen' }}" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <div class="p-fluid p-formgrid grid">

                    <div class="field col-12 md:col-6">
                        <label>Nombre</label>
                        <input pInputText type="text" [(ngModel)]="item.name"
                            [ngClass]="{'ng-invalid ng-dirty' : submitted &&  !item.name}" />
                        <small class="ng-dirty ng-invalid text-red-500" *ngIf="submitted && !item.name">El campo es
                            requerido.</small>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label>Código</label>
                        <input pInputText type="text" [(ngModel)]="item.code"
                            [ngClass]="{'ng-invalid ng-dirty' : submitted &&  !item.code}" />
                        <small class="ng-dirty ng-invalid text-red-500" *ngIf="submitted && !item.code">El campo es
                            requerido.</small>
                    </div>

                    <div class="field col-12 md:col-12">
                        <label>Administrador</label>
                        <p-dropdown [options]="admins" [(ngModel)]="admin" optionLabel="name" appendTo="body"
                            placeholder="Seleccione" emptyMessage="No hay resultados" [showClear]="true">
                            <ng-template pTemplate="selectedItem">
                                <span *ngIf="admin">{{ admin.name }}</span>
                            </ng-template>

                            <ng-template let-perfile pTemplate="item">
                                <span>{{ perfile.name }}</span>
                            </ng-template>
                        </p-dropdown>

                    </div>

                    <div *ngIf="!crear" class="field col-6">
                        <label class="mb-2">Habilitar / Inhabilitar</label><br>
                        <p-selectButton styleClass="field" [options]="stateOptions" [(ngModel)]="value"
                            optionLabel="label" optionValue="value"></p-selectButton>
                    </div>

                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="{{ crear ? 'Guardar' : 'Actualizar' }}" icon="pi pi-check"
                    class="p-button-text" (click)="crear ? saveItem() : editItem()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="ingresar_usuario_Dialog" header="{{vista_modal_ingresar_usuarios == 1 ? 'Usuarios pertenecientes al almacén '+item.name :vista_modal_ingresar_usuarios == 2 ?
            'Ingresar usuarios al almacén '+item.name : 'Eliminar usuarios del almacén '+item.name}}" [modal]="true"
            [style]="{ width: '450px' }">


            <p-table #dt2
                [value]="vista_modal_ingresar_usuarios ==1 || vista_modal_ingresar_usuarios ==3 ? usuarios_almacen : admins"
                responsiveLayout="scroll" [globalFilterFields]="['name']" [showCurrentPageReport]="true"
                selectionMode="multiple" [(selection)]="selectedItems" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">

                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter2(dt2, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngIf="vista_modal_ingresar_usuarios ==2 || vista_modal_ingresar_usuarios ==3">
                            <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
                        </th>
                        <th pSortableColumn="name">Usuarios <p-sortIcon field="name"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td *ngIf="vista_modal_ingresar_usuarios ==2 || vista_modal_ingresar_usuarios ==3">
                            <p-tableCheckbox [value]="item"></p-tableCheckbox>
                        </td>
                        <td>{{item.name }}</td>
                    </tr>
                </ng-template>

            </p-table>



            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Cancelar"
                    (click)="ingresar_usuario_Dialog = false"></button>
                <button *ngIf="vista_modal_ingresar_usuarios ==2 || vista_modal_ingresar_usuarios ==3" pButton pRipple
                    icon="pi pi-check" class="p-button-text" label="Enviar"
                    (click)="vista_modal_ingresar_usuarios ==2 ? ingresarUsuarios():eliminarUsuarios()"></button>
            </ng-template>
        </p-dialog>
        <!-- <p-dialog [(visible)]="itemDeleteDialog" header="Eliminar un almacen" [modal]="true"
            [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="item">Esta seguro que quieres eliminar el almacén <b>{{ item.name }}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="itemDeleteDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="deleteItem()"></button>
            </ng-template>
        </p-dialog> -->
    </div>
</div>




<!-- % de  Descuentos -->

<p-dialog [(visible)]="descuento_Dialog" [style]="{ width: '450px' }" header="Descuento para {{item.name}}"
    [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">

        <div class="p-fluid p-formgrid grid">

            <div class="field col-12">
                <label>Descuento</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-percentage"></i>
                    </span>
                    <input pInputText type="number"
                        placeholder="Porcentaje actual {{item.discount_percent == null ? 0 : item.discount_percent }}%"
                        [(ngModel)]="item.descuento"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted &&  item.descuento == null}" />
                </div>
                <small class="ng-invalid ng-dirty text-red-500" *ngIf="submitted && item.descuento == null">El campo es
                    requerido.</small>
            </div>
        </div>
        <p-confirmPopup></p-confirmPopup>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="descuento_Dialog = false"></button>
        <button pButton pRipple label="Enviar" icon="pi pi-check" class="p-button-text"
            (click)="item.descuento >40? confirm($event,item) : aplicarDescuentos()"></button>
    </ng-template>
</p-dialog>