<div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}">
    <div class="login-content">
        <div class="night-switch">
            <p-button styleClass="dark-switch" icon="pi pi-circle-on" (click)="dark = true"></p-button>
            <p-button styleClass="light-switch" icon="pi pi-circle-off" (click)="dark = false"></p-button>
        </div>
        <div class="login-panel">
            <div class="login-panel-content">
                <div class="logo">
                    <!-- <img src="assets/layout/images/logo-mirage@2x.png" alt="mirage-layout" /> -->
                    <img style="border-radius: 50%;" src="assets/images/logo.png" alt="mirage-layout" />
                </div>
                <h2>Restablecer contraseña</h2>
                <p>Ingresa tu nueva contraseña</p>
                <form [formGroup]="form" class="forms">
                    <div class="login-input-wrapper">
                        <label >Nueva contraseña</label>
                        <p-password  placeholder="Escribe tu contraseña" formControlName="password" [inputStyle]="form.get('email')?.value == ''?form.get('password')?.disable():form.get('password')?.enable()"
                            minlength="6" [toggleMask]="true"
                            styleClass="w-full"
                            [ngClass]="{'ng-invalid ng-dirty' : submitted &&  form.get('password')?.hasError('required') ||form.get('password')?.touched && form.get('password')?.hasError('minLength(6)')}"
                            [feedback]="false"></p-password>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="form.get('password')?.dirty &&  password?.errors?.['minlength']">La contraseña debe
                            tener mínimo 6 caracteres.</small>
                    </div>

                    <div class="login-input-wrapper">
                        <label >Confirmar contraseña</label><!--  [inputStyle]="form.get('password')?.value == ''?form.get('password2')?.disable():form.get('password2')?.enable()" -->
                        <p-password  placeholder="Confirma tu contraseña" formControlName="password2"
                            minlength="6" [toggleMask]="true"
                            styleClass="w-full"
                            [ngClass]="{'ng-invalid ng-dirty' : submitted &&  form.get('password2')?.hasError('required') ||form.get('password2')?.touched && form.get('password2')?.hasError('minLength(6)')}"
                            [feedback]="false"></p-password>
                            <!-- <small class="ng-dirty ng-invalid"
                            *ngIf="form.get('password2')?.dirty &&  password?.errors?.['minlength']">La contraseña debe
                            tener minimo 6 caracteres.</small><br> -->
                        <small class="ng-dirty ng-invalid"
                            *ngIf="form.get('password2')?.dirty && form.get('password')?.value != form.get('password2')?.value ">Las contraseñas no
                            coinciden.</small>
                    </div>

                    <div class="login-input-wrapper">
                        <label >Código</label>           
                            <input formControlName="codigo" pInputText placeholder="Escribe el código..."
                                [ngClass]="{'ng-invalid ng-dirty' : submitted &&  form.get('codigo')?.hasError('required') }" />
                            <i class="pi pi-code"></i>
                    </div>


                    <div class="buttons">
                        <button pButton type="button" (click)="resetPassword()" label="Enviar"></button>
                       <!--  <a routerLink="/auth/verifyuser" class="secondary-button">Olvidó tu contraseña?</a> -->
                    </div>
                </form>
            </div>
        </div>

        <div class="desert"></div>
    </div>
</div>