
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button *ngIf="user.user.role_id != 2" pButton pRipple label="Nueva"
                            icon="pi pi pi-plus" class="p-button-primary mr-2" (click)="bonoModal()"></button>
                        <!-- <button pButton pRipple label=" Borrar" icon="pi pi-trash" class="p-button-danger"
                            (click)="alertSelectedItems()"
                            [disabled]="!selectedItems || !selectedItems.length"></button> -->
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [showIcon]="true"[showButtonBar]="true"
                    placeholder="Selecciona un rango" [readonlyInput]="true" appendTo="body"(onClearClick)="getDevoluciones()"
                    (onClose)="getDevoluciones()">
                </p-calendar>
                   <!--  <button pButton pRipple label="Actualizar" icon="pi pi-refresh" class="p-button-primary"
                        (click)="getCambios()"></button> -->
                </ng-template>
            </p-toolbar>



            <p-table #dt [value]="datosDB" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['product_code','product_name','product_quantity','observation','byUser_name']"
                [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate=" {first} - {last} de {totalRecords} registros" selectionMode="multiple"
                [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Devoluciones</h5>
                        <span *ngIf="datosDB.length > 0" class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Recibo</th>
                        <th>Código</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                        <th>Bono</th>
                        <th>Valor</th>
                        <th>Estado</th>
                        <th>Usuario</th>
                        <!-- <th></th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td >{{item.bill_number}}</td>
                        <td >{{item.product_code}}</td>
                        <td >{{item.product_name}}</td>
                        <td >{{item.product_quantity}}</td>
                        <td >{{item.created_at | date: 'dd MMM yyyy - HH:mm'}}</td>
                        <td >{{item.bonus_id}}</td>
                        <td >${{item.amount | number}}</td>
                        <td>
                            <p-tag severity="{{
                                item.redeemed == 0?'warning':
                                item.redeemed == 1?'success':
                                ''}}" value="{{item.redeemed == 1?'Redimido':'Sin redimir'}}">
                            </p-tag>
                        </td>
                        <td >{{item.byUser_name}}</td>
                        <!-- <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" pTooltip="Actualizar" tooltipPosition="top"
                                    class="p-button-rounded p-button-success mr-2" (click)="openEdit(item)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                    pTooltip="Eliminar" tooltipPosition="top" (click)="deleteAlert(item)"></button>
                            </div>
                        </td> -->
                    </tr>
                </ng-template>

            </p-table>
        </div>
    </div>
</div>











<p-dialog [(visible)]="bono_dialog" [style]="{ width: '450px' }" header="Devolución" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">

        <div class="p-fluid p-formgrid grid">

            
                <div class="field col-12 ">
                    <label>N° recibo</label>
                    <input type="text" pInputText [(ngModel)]="devolucion.factura"
                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && !devolucion.factura }">
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !devolucion.factura">El campo es
                        obligatorio.</small>
                </div>

                <div class="field col-12 ">
                    <label>Código</label>
                    <input type="text" pInputText [(ngModel)]="devolucion.codigo_entrada"
                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && !devolucion.codigo_entrada }">
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !devolucion.codigo_entrada">El campo es
                        obligatorio.</small>
                </div>

                <div class="field col-12 ">
                    <label>Cantidad</label>
                    <p-inputNumber [(ngModel)]="devolucion.cantidad"
                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && !devolucion.cantidad }"></p-inputNumber>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !devolucion.cantidad">El campo es
                        obligatorio.</small>
                </div>

                <div class="field col-12 ">
                    <label>Valor bono</label>
                    <p-inputNumber prefix="$" [(ngModel)]="devolucion.bono"
                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && !devolucion.bono }"></p-inputNumber>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !devolucion.bono">El campo es
                        obligatorio.</small>
                </div>

        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="bono_dialog = false"></button>
        <button pButton pRipple label="Enviar" icon="pi pi-check" class="p-button-text"
            (click)="hacerDevolucion()"></button>
    </ng-template>
</p-dialog>
